body {
    background-color: #ffffff;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.title {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 40px;
}

.titleBlock {
    display: flex;
    justify-content: space-between;
    align-content: center;
}


.container {
    max-width: 1000px;
    margin: 0 auto 50px;
    padding: 50px;
    padding-top: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 10px;
}

.leftBlock {
    width: 100%;
}

.rigthBlock {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    color: #73808D
}

.img {
    height: 100px;
}

.miniTitle {
    margin-top: 70px;
    color: #73808D;
}

.dopInfo {
    width: 200px;
}

.dates {
    color: #73808D;
    font-size: 12px;
}

h2 {
    margin-bottom: 5px;
}

.description {
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 5px;
}

.firstDescr {
    margin-top: 0;
}

.dates {
    margin: 0;
}

.about {
    margin-top: 100px;
    font-weight: 400;
}

.dopInfoDescr {
    margin: 0;
}

.dopInfoTitle {
    font-weight: bold;
    margin-bottom: 7px;
    margin-top: 0;
}

.dopInfoLink {
    margin-bottom: 5px;
    color: #73808D;
    display: block;
    text-decoration: none;
    transition: all 0.3s;
}

.dopInfoLink:hover {
    color: #59626b;
}

@media (max-width:850px) {
    .img {
        display: none;
    }
}

@media (max-width:650px) {
    .title {
        font-size: 32px;
    }
}

@media (max-width:513px) {
    .title {
        font-size: 25px;
    }

    .container {
        padding: 15px;
    }
}